<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PageAccueil </h1>

    {{if .UserID}}
        <p>Connecté</p>
        {{if .MyAvatar}}
            <img src="{{.MyAvatar}}" width="50">
        {{end}}
        <a href="/profil">
            <button>Mon profil</button>
        </a>
    {{else}}
        <a href="/login">
            <button>->] CONNEXION</button>
        </a>
    {{end}}
    <h2>Utilisateurs</h2>

</body>
</html>