<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROFIL TEST</h1>

    <form action="/update-user" method="POST">
        <input type="text" name="username" value="{{.Username}}">
        <input type="email" name="email" value="{{.Email}}">
        <input type="password" name="password" placeholder="Nouveau mot de passe">
        <input type="text" name="avatar" placeholder="URL image avatar">
        <button>Modifier</button>
    </form>
    <img src="{{.Avatar}}" width="100">

    <p>{{.Username}}</p>
    <form action="/delete-account" method="POST">
        <button>Supprimer mon compte</button>
    </form>
    <a href="/">Retour accueil</a>
</body>
</html>