<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTER</h1>
    {{if .Error}}
       <p class="error">{{.Error}}</p>
    {{end}}
    <form method="post">
        <label>Username:</label><br />
        <label>Email:</label><br />
        <label>Avatar:</label><br />
        <label>Password:</label><br />
        <label>Password:</label><br />
        <input type="s'inscrire">
    </form>
</body>
</html>